.bg-full {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  @include bg-cover;
  min-height:100vh;
}

.brand {
  text-align: center;
  img {
    max-width: 100%;
    width: 200px;
  }
}
.wrapper{
  padding-top: 60px;
  padding-bottom: 60px;
}
.form-login {
  width: 70%;
  margin: auto;
  @include media-breakpoint-down(xs) {
    width: 100%;
  }
}

.iframe-container{
    position: relative;
    width: 100%;
    margin: auto;
    padding-bottom: 38.5%;
    margin-bottom: -10px;
    //padding-bottom: 100%;
    @include media-breakpoint-down(xs) {
      padding-bottom: 60%; /*Ratio 16:9 ( 100%/16*9 = 56.25% ) */
    }
}
.iframe-container > *{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.disabled-state{
  pointer-events: none;
  opacity: .3;
}
.tiket-journey{
  padding-left: 30px;
  position: relative;
  li{
    position: relative;
    margin-bottom: ($spacer);
    &:before{
      content: '';
      display: inline-block;
      background: $white;
      width: 3px;
      height: calc(100%);
      position: absolute;
      left: -20px;
      top: 30px;
    }
    &.active{
      >.card{
        &:before{
          background: $secondary;
        }
      }
    }
    &:last-child{
      &:before{
        display: none;
      }
    }
    >.card{
      &:before{
        content: '';
        display: inline-block;
        background: $body-bg;
        border: solid 3px $white;
        width: 20px;
        height: 20px;
        position: absolute;
        left: -29px;
        top: 10px;
        border-radius: 50%;
      }
    }
  }
}
.achiev{
  width: 280px;
  height: 280px;
  color: $white;
  background: $primary;
  font-size: 4em;
  font-weight: 700;
  border-radius: 50%;
  border: solid 10px (lighten($primary, 10%));
}
.sum-achiev{
  width: 90px;
  height: 90px;
  color: $white;
  background: $gray-600;
  font-size: 1.8em;
  font-weight: 700;
  border-radius: 50%;
  border: solid 10px $gray-300;
}

.loader-wrapper{
  z-index: 9999;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: $white;
  @extend .d-flex,.justify-content-center,.align-items-center;
  >.loader-center{
    @extend .d-flex;
  }
}
.notif{
  position: absolute;
  background-color: $red;
  color: $white;
  top: 5px;
  right: -5px;
  border-radius: 8px;
  padding:2px 5px;
  display: inline-block;
}
